.DS_Store
node_modules/
src/components/peixe/key.js
dist/
npm-debug.log
yarn-error.log
package-lock.json                                                                                                                                                                                                                         

# Editor directories and files
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

